<!DOCTYPE html>
<html lang="jp">

<head>
    <%= render :erb ,:'template/head' %>
    <script src="./review_new_color.js"></script>
    <script src="./review_new_search.js"></script>
</head>

<body>
    <%= render :erb ,:'template/header' %>
    <div id="new-review" class="uk-section">
        <div class="uk-container uk-text-center">
            <h1 class="uk-heading-line"><span>Review</span></h1>

            <form class="uk-form-width-large uk-text-left">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">タイトル</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" name="title" placeholder="Title">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">本文</label>
                    <textarea class="uk-textarea" placeholder="Body" name="body"></textarea>
                </div>


                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">検索</label>
                    <div class="uk-form-controls" uk-grid>
                        <div class="uk-width-3-4@s">
                            <input id="music_box" class="uk-input" type="text" disabled>
                        </div>
                        <div class="uk-width-1-4@s">
                            <a class="uk-button uk-button-primary uk-width-1-1" href="#modal" uk-toggle>検索</a>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="music" id="music">

                <%# モーダル - 楽曲検索 %>
                <div id="modal" uk-modal>
                    <div class="uk-modal-dialog">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">楽曲検索</h2>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="uk-margin" uk-grid>
                                <div class="uk-width-3-4@s">
                                    <input id="music_input" class="uk-input" type="text" placeholder="Title">
                                </div>
                                <div class="uk-width-1-4@s">
                                    <button id="music_search" class="uk-button uk-button-primary uk-width-1-1"
                                        type="button">検索</button>
                                </div>
                            </div>
                            <div class="uk-margin result-box" id="music_result" style="border: #e5e5e5 1px solid;">
                                <ul class="uk-list uk-list-large uk-list-striped" style="margin: 0;" id="music_list"></ul>
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
                        </div>
                    </div>
                </div>

                <%# モーダル - 楽曲追加 %>
                <div id="modal2" uk-modal>
                    <div class="uk-modal-dialog">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">楽曲追加</h2>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="uk-margin">

                                <div class="uk-margin">
                                    <label class="uk-form-label" for="music_name">曲名</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="music_name" type="text" name="title"
                                            placeholder="Music name">
                                    </div>
                                </div>
                                
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="genre">ジャンル</label>
                                    <div class="uk-form-controls">
                                        <select class="uk-select" id="genre">
                                            <% @genre.each do |g| %>
                                                <option value="<%= g.id %>"><%= g.name %></option>
                                            <% end %>
                                        </select>
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text">歌手</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="text" id="singer-input" disabled>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text">作曲者</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="text" id="composer-input" disabled>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text">作詞者</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="text" id="lyricist-input" disabled>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text">編曲者</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="text" id="arranger-input" disabled>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text">検索</label>
                                    <div class="uk-form-controls" uk-grid>
                                        <div class="uk-width-3-4@s">
                                            <input id="artist_input" class="uk-input" type="text" placeholder="アーティスト名">
                                        </div>
                                        <div class="uk-width-1-4@s">
                                            <button id="artist_search" class="uk-button uk-button-primary uk-width-1-1"
                                                type="button">検索</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-margin result-box" id="artist_result" style="border: #e5e5e5 1px solid;">
                                    <ul uk-accordion class="uk-list uk-list-large uk-list-striped" style="margin: 0;" id="artist_list"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <a class="uk-button uk-button-default uk-modal-close" href="#modal" uk-toggle>Back</a>
                            <a class="uk-button uk-button-primary uk-modal-close" type="button" id="music_register">登録</a>
                        </div>
                    </div>
                </div>

                <%# モーダル - アーティスト追加 %>
                <div id="modal3" uk-modal>
                    <div class="uk-modal-dialog">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">アーティスト追加</h2>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="uk-margin">
                                <input id="artist_register_input" class="uk-input" type="text" placeholder="Title">
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <a class="uk-button uk-button-default uk-modal-close" href="#modal2" uk-toggle>Back</a>
                            <a class="uk-button uk-button-primary uk-modal-close" href="#modal2" uk-toggle
                                id="artist_register">登録</a>
                        </div>
                    </div>
                </div>
            </form>
            <div class="cs-box">
                <div class="color-sample selected" id="cs1"></div>
                <div class="color-sample" id="cs2"></div>
            </div>
            <canvas id="color" width="400px" height="100px"></canvas>
        </div>
    </div>
    <%= render :erb ,:'template/footer' %>
</body>

</html>