<!DOCTYPE html>
<html lang="jp">

<head>
    <%= render :erb ,:'template/head' %>
</head>

<body>
    <%= render :erb ,:'template/header' %>
    <%= render :erb ,:'template/title', :locals => {title: 'ユーザー検索', file: 'images/user.jpg', pos: '25%'}%>
    
    <div id="user-search" class="uk-section">
        <div class="uk-container uk-text-center">
            <form class="uk-form-width-large uk-text-left" action="/user">
                <div class="uk-margin">
                    <label class="uk-form-label text" for="form-title">ID</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" value="<%= @q unless @q.blank? %>" type="text" name="q" placeholder="ユーザー名 or @userid">
                    </div>
                </div>

                <input class="uk-button uk-button-primary uk-align-center" value="検索" type="submit">
            </form>
            
            <% unless @q.blank? %>
                <% if @users.length > 0 %>   
                    <table>
                        <tr>
                            <th>ユーザー名</th>
                        </tr>
                        <% @users.each do |u| %>
                            <tr>
                                <td><a href="/@<%= u.screen_name %>"><%= u.name %></a></td>
                            </tr>
                        <% end %>
                    </table>
                <% else %>
                    見つかりませんでした。
                <% end %>
            <% end %>
        </div>

    </div>
    <%= render :erb ,:'template/footer' %>
</body>

</html>