<!DOCTYPE html>
<html lang="jp">

<head>
    <% @title = '検索' %>
    <%= render :erb ,:'template/head' %>
    <script src="/review_search_color.js"></script>
</head>

<body>
    <%= render :erb ,:'template/header' %>
    <%= render :erb ,:'template/title', :locals => {title: 'Advanced Search', file: 'images/piano.jpg', pos: '60%'}%>
    <div id="music-search" class="uk-section">
        <div class="uk-container uk-text-center">
            <ul id="tab" class="uk-container uk-container-xsーmall uk-child-width-expand uk-margin" style="margin: 0 auto 48px;"
                uk-tab>
                <li id="tab1" class="<%= @type == 'review' ? 'uk-active' : '' %>"><a href="#" style="font-size: 18pt;">Review</a></li>
                <li id="tab2" class="<%= @type == 'music' ? 'uk-active' : '' %>"><a href="#" style="font-size: 18pt;">Music</a></li>
                <li id="tab3" class="<%= @type == 'user' ? 'uk-active' : '' %>"><a href="#" style="font-size: 18pt;">User</a></li>
            </ul>
            <ul class="uk-switcher uk-margin <%= @type.blank? ? '' : 'uk-hidden'%>" id="body">
                <li class="uk-active">
                    <form class="uk-form-width-large uk-text-left" action="/search/advanced">
                        <h2>レビュー検索</h2>
                        <div class="uk-margin">
                            <label class="uk-form-label text" for="form-title">色</label>
                            <div class="uk-form-controls">
                                <div id="new-review" class="uk-section">
                                    <div class="uk-container uk-text-center">
                                        <div class="cs-box">
                                            <div class="color-sample selected" id="cs1"></div>
                                            <div class="color-sample" id="cs2"></div>
                                        </div>
                                        <canvas id="color-canvas" class="uk-align-center" width="400px"
                                            height="100px"></canvas>
                                    <input class="uk-input" id="form-color" type="hidden" name="color">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="type" value="review">
                        </div>
                        <div class="uk-margin uk-align-center" style="width: fit-content;">
                            <input class="uk-button uk-button-primary" value="検索" type="submit">
                        </div>
                    </form>
                </li>
                <li>
                    <form class="uk-form-width-large uk-text-left" action="/search/advanced">
                        <h2>楽曲検索</h2>
                        <div class="uk-margin">

                            <div class="uk-margin">
                                <label class="uk-form-label text" for="form-title">曲名</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" name="song" placeholder="曲名">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label text" for="form-title">歌手</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" name="singer" placeholder="歌手">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label text" for="form-title">作曲者</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" name="composer" placeholder="作曲者">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label text" for="form-title">作詞者</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" name="lyricist" placeholder="作詞者">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label text" for="form-title">編曲者</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" name="arranger" placeholder="編曲者">
                                </div>
                            </div>
                            <input type="hidden" name="type" value="music">
                        </div>
                        <div class="uk-margin uk-align-center" style="width: fit-content;">
                            <input class="uk-button uk-button-primary" value="検索" type="submit">
                        </div>
                    </form>
                </li>
                <li>
                    <form class="uk-form-width-large uk-text-left" action="/search/advanced">
                        <h2>ユーザー検索</h2>
                        <div class="uk-margin">
                            <label class="uk-form-label text" for="form-title">ユーザー名</label>
                            <div class="uk-form-controls">
                                <div class="uk-inline uk-width-expand">
                                    <span class="uk-form-icon" uk-icon="icon: fa-user-s"></span>
                                    <input class="uk-input" name="name">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label text" for="form-title">Twitter ID</label>
                                <div class="uk-form-controls">
                                    <div class="uk-inline uk-width-expand">
                                        <span class="uk-form-icon" uk-icon="icon: fa-at-s"></span>
                                        <input class="uk-input" name="id">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="type" value="user">
                        </div>
                        <div class="uk-margin uk-align-center" style="width: fit-content;">
                            <input class="uk-button uk-button-primary" value="検索" type="submit">
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <hr>
    </div>
    <%= render :erb ,:'template/footer' %>
</body>

</html>