<!DOCTYPE html>
<html lang="jp">

<head>
    <% @title = @music.name %>
    <%= render :erb ,:'template/head' %>
</head>

<body>
    <%= render :erb ,:'template/header' %>
    <div id="music-header" class="uk-section" style="background: #eee;">
        <div class="uk-container uk-text-center">
            <h1 class="uk-heading-line"><span><%= @music.name %></span></h1>
            <span class="singers"><%= @music.singers.map{|s|s.name}.join(',') %></span>
        </div>
    </div>
    <div id="music-body" class="uk-section">
        <div class="uk-container uk-text-center">
            <table class="uk-table uk-table-striped uk-table-middle">
                <tr>
                    <th class="uk-text-center">タイトル</th>
                    <th class="uk-text-center">投稿者</th>
                    <th class="uk-text-center">投稿日</th>
                    <th class="uk-text-center">色</th>
                </tr>
                <% @music.reviews.each do |r| %>
                <% tw = Tw.app.user(r.user.twitter_id.to_i) %>
                <tr>
                    <td><a href="/@<%= tw.screen_name %>/<%= r.id %>"><%= r.title %></a></td>
                    <td><a href="/@<%= tw.screen_name %>"><img class="user-icon" src="<%= tw.profile_image_url_https %>" alt=""><%= tw.name %>(@<%= tw.screen_name %>)</a></td>
                    <td><%= r.created_at %></td>
                    <td><span style="color: hsl(<%= r.color[1,100] %>, 100%, <%= r.color[0,1] == 'l' ? '85%' : '30%' %>,1); font-size: 22pt;">■</span></td>
                </tr>
                <% end %>
            </table>
        </div>

    </div>
    <%= render :erb ,:'template/footer' %>
</body>

</html>