<!DOCTYPE html>
<html lang="jp">

<head>
    <% @title = @review.title %>
    <%= render :erb ,:'template/head' %>
    <% tw = Tw.app.user(@review.user.twitter_id.to_i) %>
    <meta name="og:title" content="<%= h(@review.title) %>">
    <meta name="og:type" content="article">
    <meta name="og:site_name" content="iori">
    <meta name="og:url" content="http://<%= ENV['DOMAIN'] %>/@<%= tw.screen_name %>/<%= @review.id %>">
    <meta name="og:description" content="ioriは音楽のレビューサイトです。気軽に投稿してみませんか？">
    <meta name="og:image" content="http://<%= ENV['DOMAIN'] %>/@<%= tw.screen_name %>/<%= @review.id %>/ogp.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mizucoffee">
</head>

<body>
    <%= render :erb ,:'template/header' %>
    <% color = @review.hue %>
    <% light = @review.light%>

    <div id="review-header" class="uk-section <%= light ? 'light' : 'dark' %>"
        style="background: linear-gradient(hsl(<%= color %>, 100%, <%= light ? '97%' : '35%' %>,1), hsl(<%= color %>, 100%, <%= light ? '85%' : '25%' %>,1));">
        <div class="uk-container uk-text-center">
            <h1 class="uk-heading-line"><span><%= h(@review.title) %></span></h1>
            <a class="song-link" href="/music/<%= @review.music.id %>"><span class="song"><%= h(@review.music.name) %></span></a>
        </div>
    </div>
    <div id="review-info" class="uk-section <%= light ? 'light' : 'dark' %>"
        style="background: hsl(<%= color %>, 100%, <%= light ? '97%' : '40%' %>">
        <div class="uk-navbar-container uk-container"
            style="background: hsl(<%= color %>, 100%, <%= light ? '97%' : '40%' %>" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">

                    <li><a href="/@<%= tw.screen_name %>"><img src="<%= tw.profile_image_url_https %>"
                                alt="@<%= tw.screen_name %>">&nbsp;<%= h(tw.name) %></a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <% if @me %>
                        <% if @review.user.id == @me.id %>
                        <a href="#">
                            <span uk-icon="icon: fa-wrench-s"></span>&nbsp;Manage
                        </a>
                        <div class="uk-navbar-dropdown" uk-dropdown="mode: click; pos: bottom-right;">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="/@<%= tw.screen_name %>/<%= @review.id %>/edit"><span
                                            uk-icon="icon: pencil; ratio: 1.3;" style="color: #999;"></span><span
                                            class="menu-text" style="color: #999;">Edit</span></a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#detele-modal" style="color: #F66" uk-toggle><span
                                            uk-icon="icon: sign-out; ratio: 1.3;"></span><span
                                            class="menu-text">Delete</span></a></li>
                            </ul>

                            <div id="detele-modal" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">
                                    <h2 class="uk-modal-title">確認</h2>
                                    <p>
                                        本当にこのレビューを削除しても良いですか？
                                    </p>
                                    <p class="uk-text-right">
                                        <button class="uk-button uk-button-default uk-modal-close"
                                            type="button">Cancel</button>
                                        <a class="uk-button uk-button-primary"
                                            href="/@<%= tw.screen_name %>/<%= @review.id %>/delete">DETELE</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% else %>
                        <a href="/@<%= tw.screen_name %>/<%= @review.id %>/like">
                            <% if @review.likes.find_by(user: @me).nil? %>
                            <span uk-icon="icon: fa-star"></span>&nbsp;Like
                            <% else %>
                            <span uk-icon="icon: fa-star-s" style="color: #fff547; stroke: #40414f"></span>&nbsp;Like
                            <% end %>
                        </a>
                        <% end %>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="review-body" class="uk-section">
        <div class="uk-container uk-text-center">
            <p><%= h(@review.body).gsub(/\R/, "<br>") %></p>
            <span><%= @review.created_at.in_time_zone('Tokyo') %></span>
        </div>
    </div>
    <%= render :erb ,:'template/footer' %>
</body>

</html>