<!DOCTYPE html>
<html lang="jp">

<head>
    <%= render :erb ,:'template/head' %>
</head>

<body>
    <%= render :erb ,:'template/header' %>
    <% tw = Tw.app.user(@review.user.twitter_id.to_i) %>
    <% color = @review.color[1,100] %>
    <% light = @review.color[0,1] == 'l'%>

    <div id="review-header" class="uk-section"
        style="background:  linear-gradient(hsl(<%= color %>, 100%, <%= light ? '97%' : '25%' %>,1), hsl(<%= color %>, 100%, <%= light ? '85%' : '30%' %>,1));">
        <div class="uk-container uk-text-center">
            <h1 class="uk-heading-line"><a
                    href="/music/<%= @review.music.id %>"><span><%= @review.music.name %></span></a></h1>
            <span class="singers"><%= @review.music.singers.map{|s|s.name}.join(',') %></span>
        </div>
    </div>
    <div id="review-info" class="uk-section"
        style="background: hsl(<%= color %>, 100%, <%= light ? '97%' : '40%' %>">
        <div class="uk-navbar-container uk-container"
            style="background: hsl(<%= color %>, 100%, <%= light ? '97%' : '40%' %>"
            uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">

                    <li><a href="#"><img src="<%= tw.profile_image_url_https %>"
                                alt="@<%= tw.screen_name %>">&nbsp;<%= tw.name %></a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="/@<%= tw.screen_name %>/<%= @review.id %>/like">
                            <% if @me %>
                            <% if @review.likes.find_by(user: @me).nil? %>
                            <span uk-icon="icon: fa-star"></span>&nbsp;Like
                            <% else %>
                            <span uk-icon="icon: fa-star-s" style="color: #fff547; stroke: #40414f"></span>&nbsp;Like
                            <% end %>
                            <% end %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="review-body" class="uk-section">
        <div class="uk-container uk-text-center">
            <h2><%= @review.title %></h2>
            <p><%= @review.body %></p>
            <span><%= @review.created_at %></span>
        </div>
    </div>
    <%= render :erb ,:'template/footer' %>
</body>

</html>