<!DOCTYPE html>
<html lang="jp">

<head>
    <% @title = @twuser.name %>
    <%= render :erb ,:'template/head' %>
</head>

<body>
    <%= render :erb ,:'template/header' %>
    <div id="user-header" class="uk-section blur-8px"
        style="background: <%= @twuser.profile_banner_url ? "url(#{@twuser.profile_banner_url})" : "##{@twuser.profile_background_color}" %>;">
        <div class="uk-container uk-text-center grid-box">

            <img class="user-icon" src="<%= @twuser.profile_image_url_https.to_s.gsub(/_normal/,'') %>">
            <h1 class="name"><%= @twuser.name %></h1>
            <h2 class="screen-name">@<%= @twuser.screen_name %></h2>
            <a href="//twitter.com/<%= @twuser.screen_name %>" class="twitter"><img src="./images/twitter.svg"
                    alt="Twitter"></a>

        </div>
    </div>
    <div id="user-page" class="uk-section">
        <div class="uk-container">
            <% if @user %>
            <h2 class="uk-heading-line uk-text-center"><span>レビュー一覧</span></h2><br>
            <div class="scroll-table">
                <table class="uk-table uk-table-striped uk-table-middle">
                    <tr>
                        <th class="uk-text-center">色</th>
                        <th class="uk-text-left uk-table-expand">タイトル</th>
                        <th class="uk-text-left uk-table-expand">楽曲名</th>
                        <th class="uk-text-center">投稿日</th>
                    </tr>

                    <% @user.reviews.each do |r| %>
                    <tr>
                        <td class="uk-text-center"><span
                                style="color: hsl(<%= r.hue %>, 100%, <%= r.light ? '85%' : '30%' %>,1); font-size: 22pt;">■</span>
                        </td>
                        <td class="uk-table-expand"><a href="/@<%= @twuser.screen_name %>/<%= r.id %>"><%= r.title %></a></td>
                        <td class="uk-table-expand"><a href="/@<%= @twuser.screen_name %>/<%= r.id %>"><%= r.music.name %></a></td>
                        <td class="uk-text-center"><%= r.created_at.strftime("%Y-%m-%d") %></td>
                    </tr>
                    <% end %>
                </table>
            </div>
            <% else %>
            <h2 class="uk-heading-line uk-text-center"><span>このユーザーはioriを使用していないようです</span></h2><br>
            <span class="uk-text-center">気が向いたらioriを教えてあげてください...！</span>
            <% end %>
        </div>
    </div>
    <%= render :erb ,:'template/footer' %>
</body>

</html>