<header>
  <nav class="uk-navbar-container uk-container" uk-navbar="uk-navbar">
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" href="/">
        <%= render :erb ,:'svg/iori-logo' ,:locals => {:c => "header-iori-logo"}%>
        <%= render :erb ,:'svg/iori-text' ,:locals => {:c => "header-iori-text"}%>
      </a>
      <ul class="uk-navbar-nav">
        <li><a href="/"><span uk-icon="icon: home"></span>&nbsp;Home</a></li>
        <li><a href="/list"><span uk-icon="icon: list"></span>&nbsp;List</a></li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <% if @me %>
        <li>
          <div class="uk-navbar-item">
            <form action="/list">
              <a class="uk-button uk-button-default" href="/review/new">Review</a>
            </form>
          </div>
        </li>
          <li>
            <a href="#"><img src="<%= @twitter['profile_image_url_https'] %>" alt="@<%= @twitter['scree_name'] %>">&nbsp;<%= @twitter['name'] %></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/@<%= @twitter['screen_name'] %>"><span uk-icon="icon: user"></span>&nbsp;My Page</a></li>
                <li><a href="/account/settings"><span uk-icon="icon: cog"></span>&nbsp;Settings</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="/account/logout"><span uk-icon="icon: sign-out"></span>&nbsp;Logout</a></li>
              </ul>
            </div>
          </li>
        <% else %>
          <li><a href="/account/login"><span uk-icon="icon: user"></span>&nbsp;Login</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>