<ul id="tab" class="uk-container uk-container-xsmall uk-child-width-expand uk-margin" uk-tab>
    <li id="tab1" class="<%= type == 'review' ? 'uk-active' : type.blank? ? 'uk-active' : '' %>"><a href="#">Review</a>
    </li>
    <li id="tab2" class="<%= type == 'music' ? 'uk-active' : '' %>"><a href="#">Music</a></li>
    <li id="tab3" class="<%= type == 'user' ? 'uk-active' : '' %>"><a href="#">User</a></li>
</ul>
<ul class="uk-switcher uk-margin <%= show ? '' : 'uk-hidden'%>" id="body">
    <li>
        <form class="uk-form-width-large uk-width-1@s uk-text-left" action="/search/advanced/review" method="post">
            <h2>レビュー検索</h2>
            <div class="uk-margin">
                <label class="uk-form-label text" for="form-title">色</label>
                <div class="uk-form-controls">
                    <div id="new-review-color" class="uk-section color">
                        <div class="uk-container uk-text-center">
                            <div class="cs-box">
                                <div class="color-sample selected" id="cs1"></div>
                                <div class="color-sample" id="cs2"></div>
                            </div>
                            <div id="canvas-container" class="uk-align-center"
                                style="max-width: 400px; padding: 0 20px; margin-bottom: 10px">
                                <canvas id="color-canvas" height="100px" width="400px"></canvas>
                            </div>
                            <input class="uk-input" id="form-hue" type="hidden" name="hue" value="<%= @hue %>">
                            <input class="uk-input" id="form-light" type="hidden" name="light" value="<%= @light.nil? ? '1' : @light ? '1' : '0' %>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-margin uk-align-center" style="width: fit-content;">
                <input class="uk-button uk-button-primary" value="検索" type="submit">
            </div>
        </form>
    </li>
    <li>
        <form class="uk-form-width-large uk-width-1@s uk-text-left" action="/search/advanced/music" method="post">
            <h2>楽曲検索</h2>
            <div class="uk-margin">

                <div class="uk-margin">
                    <label class="uk-form-label text" for="form-title">曲名</label>
                    <div class="uk-form-controls">
                        <input id="form-title" class="uk-input" type="text" name="song" placeholder="曲名" value="<%= @song %>">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label text" for="form-singer">歌手</label>
                    <div class="uk-form-controls">
                        <input id="form-singer" class="uk-input" type="text" name="singer" placeholder="歌手" value="<%= @singer %>">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label text" for="form-composer">作曲者</label>
                    <div class="uk-form-controls">
                        <input id="form-composer" class="uk-input" type="text" name="composer" placeholder="作曲者" value="<%= @composer %>">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label text" for="form-lyricist">作詞者</label>
                    <div class="uk-form-controls">
                        <input id="form-lyricist" class="uk-input" type="text" name="lyricist" placeholder="作詞者" value="<%= @lyricist %>">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label text" for="form-arranger">編曲者</label>
                    <div class="uk-form-controls">
                        <input id="form-arranger" class="uk-input" type="text" name="arranger" placeholder="編曲者" value="<%= @arranger %>">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label text" for="form-genre">ジャンル</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="form-genre" name="genre">
                            <option value="0">-</option>
                            <% Genre.all.each do |g| %>
                            <option value="<%= g.id %>" <%= @genre == g.id.to_s ? 'selected' : '' %>><%= g.name %></option>
                            <% end %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="uk-margin uk-align-center" style="width: fit-content;">
                <input class="uk-button uk-button-primary" value="検索" type="submit">
            </div>
        </form>
    </li>
    <li>
        <form class="uk-form-width-large uk-width-1@s uk-text-left" action="/search/advanced/user" method="post">
            <h2>ユーザー検索</h2>
            <div class="uk-margin">
                <label class="uk-form-label text" for="form-title">ユーザー名</label>
                <div class="uk-form-controls">
                    <div class="uk-inline uk-width-expand">
                        <span class="uk-form-icon" uk-icon="icon: fa-user-s"></span>
                        <input class="uk-input" name="name" value="<%= @name %>">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label text" for="form-title">Twitter ID</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-expand">
                            <span class="uk-form-icon" uk-icon="icon: fa-at-s"></span>
                            <input class="uk-input" name="id" value="<%= @id %>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-margin uk-align-center" style="width: fit-content;">
                <input class="uk-button uk-button-primary" value="検索" type="submit">
            </div>
        </form>
    </li>
</ul>